<div>
  <div class="jumbotron">
    <div>
      <h3>Post Advertisement</h3> 
    </div>
  </div>
  <div class="col-md-6 col-md-offset-3">
    <form>
      <div class="form-group">
        <label for="email">Device Name</label>
        <input type="email" class="form-control" id="email">
      </div>
      <div class="form-group">
          <label for="email">Device Model</label>
          <input type="email" class="form-control" id="email">
      </div>
      <div class="form-group">
          <label for="email">Device Ram</label>
          <input type="email" class="form-control" id="email">
      </div>
      <div class="form-group">
        <label for="pwd">Quantity</label>
        <input type="password" class="form-control" id="pwd">
      </div>
      <div class="form-group">
        <label for="pwd">Date</label>
        <input type="password" class="form-control" id="pwd">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>